<div>
  <h1>Listado de Productos en Tiempo Real</h1>
  <h2>Se actualiza a partir de los metodos POST, PUT y DELETE</h2>
  <ul id="listaProductos">
  </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>